@model MyFirstMVCWebApp.Models.StrongType

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Dheeraj!</h1>

    <p>learn about <a href="/Home/ShowStudents">Show All Student Details</a>.</p> 
</div>